body {
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {
  padding: 10px;
  
}
a {
  text-decoration: none;
}

.main-container {
  margin: auto;
  width: 45%;
  font-size: 20px;
}

#timer {
  float: right;
  clear: both;
}

#starting-container {
  text-align: center;
  margin: auto;
  width: 45%;
  font-size: 20px;
}

.btn-style {
  justify-content: center;
  border: none;
  background-color: purple;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  margin: 8px;
  padding: 9px;
  cursor: pointer;
  outline: none;
}

.correctEl-style, #hr-spot {
  color: grey;
  font-style: italic;
}

#score-spot {
  font-size: 60px;
  color: purple;
  padding-bottom: 1.5rem;
  /* text-align: center; */
}